body,
html {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: none;
}

.advice-box {
  width: 100%;
  max-width: 600px; /* Larghezza massima */
  min-width: 300px; /* Larghezza minima */
}

.cool-font {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.cool-font:hover {
  color: #ffda79;
  text-shadow: 2px 2px 8px rgba(255, 218, 121, 0.5);
}

button {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.cool-button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
